<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    <div class="container father black">
        {{>nav}}
            <h1 class="lg-heading text-center">404 ! error page , this page does not exist</h1>
            <a href="/" class="primary-btn text-center">back to home</a>
        {{>footer}}
    </div>
</body>
</html>