<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    <div class="container father">
        {{>nav}}
        <h2 class="md-heading text-center fw-500 green capitalize">services</h2>

        <div class="service-box">
            <div class="servicebox normal-text capitalize">
                <img src="../images/Saas.jpg" alt="random image">
                <div class="service-text-box">
                    <h2 class="md-heading capitalize">Wep Application</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident, optio corporis vero in nulla.</p>
                    <a href="#" class="service-btn">more</a>
                </div>
            </div>
            <div class="servicebox normal-text capitalize">
                <img src="../images/Iaas.jpg" alt="random image">
                <div class="service-text-box">
                    <h2 class="md-heading capitalize">Wep Application</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident, optio corporis vero in nulla.</p>
                    <a href="#" class="service-btn">more</a>
                </div>
            </div>
            <div class="servicebox normal-text capitalize">
                <img src="../images/5g.jpg" alt="random image">
                <div class="service-text-box">
                    <h2 class="md-heading capitalize">Wep Application</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident, optio corporis vero in nulla.</p>
                    <a href="#" class="service-btn">more</a>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</body>
</html>

